spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/tododb
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show_sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate.format_sql: true

security:
  jwt:
    secret-key: ${JWT_SECRET_KEY}
    duration: ${DURATION}